<div class="container" action="/contact">
    <h1 class="brand">
        <span>M2</span> Graphics</h1>
    <div class="wrapper animated bounceInDown">
        <div class="upload-info">
            <h1>Upload Your Image</h1>
        </div>
        <div class="upload">
            <form method="POST" action="send">
                <input type="file" id="files" name="files[]" multiple />
                <div id="list"></div>
                <canvas width="300" height="200" id="canvas"></canvas>
            </form>

        </div>
    </div>
</div>





<style>
    /* Add at later date */

    #list img.thumb {
        width: 40%;
        height: 40%;
        display: inline-block;
    }


    #canvas {}
</style>

<script>
    var d = document,
        canvas = d.getElementById('canvas'),
        context = canvas.getContext('2d'),
        file = d.getElementById('files');
    file.addEventListener('change', handleFile, false);

    function handleFile(evt) {
        var files;
        if (evt.dataTransfer) {
            evt.stopPropagation();
            evt.preventDefault();
            files = evt.dataTransfer.files;
        }
        else {
            files = evt.target.files; // FileList object
        }
        // Loop through the FileList and render image files as thumbnails.
        for (var i = 0, f; f = files[i]; i++) {
            // Only process image files.
            if (!f.type.match('image.*')) {
                continue;
            }
            var reader = new FileReader();
            // Closure to capture the file information.
            reader.onload = (function (theFile) {
                return function (e) {
                    // Render thumbnail.
                    var img = d.createElement('img');
                    img.className = 'thumb';
                    img.src = e.target.result;
                    img.title = escape(theFile.name);
                    img.addEventListener('click', thumbSelected, false);
                    d.getElementById('list').insertBefore(img, null);
                };
            })(f);
            reader.readAsDataURL(f);
        }
    }
    function handleDragOver(evt) {
        evt.stopPropagation();
        evt.preventDefault();
        evt.dataTransfer.dropEffect = 'copy';
    }

    function thumbSelected() {
        var thumb = event.target;
        /*same quality*/
        canvas.height = thumb.naturalHeight;
        canvas.width = thumb.naturalWidth;
        context.drawImage(thumb, 0, 0);
    }


</script>