<strong><center><h1 class="page-header">Account Login</h1></center></strong>
<div class="container">
    <div class="wrapper">
        <div class="company-info">
            <h3>Login</h3>
            <ul>
                <li>Login</li>
            </ul>
        </div>
        <div class="contact">
            <form method="post" action="/users/login">
                <p>
                    <label>Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </p>
                <p>
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </p>
                <p class="full">
                    <button type="submit">Submit</button>

                </p>
            </form>

        </div>
    </div>
</div>