/* Space out content a bit */
body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  
  .nav-link{
      color:#737373;
  }

  /* Carousel */
  div#carousel { 
    perspective: 1200px; 
    background: #090a0a; 
    padding-top: 10%; 
    font-size:0; 
    margin-bottom: 3rem; 
    overflow: hidden;
    height: 500px; 
  }
  figure#spinner { 
    transform-style: preserve-3d; 
    height: 300px; 
    transform-origin: 50% 50% -500px; 
    transition: 1s; 
  } 
  figure#spinner img { 
    width: 40%; max-width: 425px; 
    position: absolute; left: 30%;
    transform-origin: 50% 50% -500px;
    outline:1px solid transparent; 
    height: 380px;
  }
  figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
  }
  figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
  figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
  figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
  figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
  figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
  figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
  figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
  div#carousel ~ span { 
    color: #fff; 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -6rem; 
    border-bottom: none; 
    line-height: 0; }
  div#carousel ~ span:hover { color: #888; cursor: pointer; }
 
  /* Everything but the jumbotron gets side spacing for mobile first views */
  .header,
  .marketing,
  .footer {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  /* Custom page header */
  .header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #cccccc;
  }
  .page-header{
      color: #737373;
      font-family: ABeeZee;
  }
  
  /* Make the masthead heading the same height as the navigation */
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
  }
  
  /* Custom page footer */
  .footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
  }
  
  /* Customize container */
  @media (min-width: 48em) {
    .container {
      max-width: 46rem;
    }
  }
  .container-narrow > hr {
    margin: 2rem 0;
  }

  .col-lg-9{
      background: url("../public/img/logo.jpg")
  }
  
  /* Main marketing message and sign up button */
  .jumbotron {
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
  }
  .jumbotron .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
  }
  
  /* Supporting marketing content */
  .marketing {
    margin: 3rem 0;
  }
  .marketing p + h4 {
    margin-top: 1.5rem;
  }
  
  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
  
    /* Space out the masthead */
    .header {
      margin-bottom: 2rem;
    }
  
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
      border-bottom: 0;
    }
  }

  .page-header{
    margin-top:0;
  }

  footer{
    margin-top: 40px;
  }

  * {
    box-sizing: border-box;
}

body {
    background: #090a0a;
    color: #485e74;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1em;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

ul {
    list-style: none;
    padding: 0;
}

.brand {
    text-align: center;

}

.brand span {
    color: rgb(0, 0, 0);
}

.wrapper {
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper>* {
    padding: 1em;
}

.company-info {
    background: #737373;
}
.upload-info {
    background: #f9feff;
}

.company-info h3,
.company-info ul {
    text-align: center;
    margin: 0 0 1rem 0;
    color: black;
}
.upload {
    background: #f9feff;
}
.upload form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact {
    background: #f9feff;
}

.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact form label {
    display: block;
}


.contact form p {
    margin: 0;
}

.contact form .full {
    grid-column: 1/3;
}

.contact form button, .contact form input, .contact form textarea{
    width:100%;
    padding: 1em;
    border: 1px solid #737373;
}

.contact form button {
    background: #737373;
    border: 0;
    text-transform: uppercase;
}

.contact form button:hover, .contact form button:focus{
    background: #013464;
    color: #fff;
    outline: 0;
    transition: background-color 2s ease-out;
}

.jumbotron{
    background: #fff;
}
.bg {
    background: url('../img/logo.jpg') no-repeat center center;
    width: 100%;
    height: 100%;

}
.img-one{
    background: url('../img/wraps.jpg') no-repeat center center;
    width: 100%;
    height: 100%;
}

.form-group label{
    margin-left: 90px;
}

.form-group input{
    margin-left: 90px;
}
.login{
    margin-left: 400px;
    width: 400px;
    height: 550px;
}

.register{
    margin-left: 300px;
    width: 600px;
    height: 550px;
}

.register form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}



/* .register input{
 margin-left: 150px;
}
.register label{
    margin-left: 150px;
   } */

/* Large Screens */

@media(min-width:700px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .wrapper > *{
        padding: 2em;
    }
    
    .company-info h3, .company-info ul, .brand{
        text-align: left;
    }
}